 <html class="no-js lt-ie9" lang="en" > 
 <html class="no-js" lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Line Up</title>
    <link rel="stylesheet" href="/emagine/css/site.css">
    <script src="/emagine/javascripts/vendor/custom.modernizr.js"></script>
   </head>
  <body>  

<div class="row">
  <div class="large-12 columns">
    <img src="../images/Interface/Maverick3.png"/>
 </div>
</div>
    <div class="row">
      <div class="large-12 columns">

<!-- Navigation -->
      <nav class="top-bar" data-topbar>
          <section class="top-bar-section">
          <ul class="left">
          <li><a href="#">Home</a></li>
            <li><a href="#">Line Up</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </section>
      </nav>
     </div>
    </div>
  
    <!-- End Navigation -->
	<div class="large-4 small-12 columns">
          <div class="hide-for-small panel">
            <h3>Header</h3>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>
          </div>
 
	 <a href="#">
          <div class="panel callout radius">
            <img src="/emagine/images/Interface/apple.jpg"/>
		        <img src="/emagine/images/Interface/android.jpg"/>
          </div>
        </a>
      </div>
 
    <!-- End Side Bar -->
     <!-- Thumbnails -->
 
        <div class="large-8 columns">
          <div class="row">
 
            <div class="large-4 small-6 columns">
              <img src="/emagine/images/Interface/coronas.jpg"/>
               <div class="panel">
                <h5>The Coronas</h5>
                <h6 class="subheader">The Coronas are a well known Irish band that..</h6>
              </div>
            </div>
 
            <div class="large-4 small-6 columns">
              <img src="/emagine/images/Interface/Kodaline1.jpg">
               <div class="panel">
                <h5>Kodaline</h5>
                <h6 class="subheader">Kodaline formerly know as 21 Demands are a..</h6>
              </div>
            </div>
 
            <div class="large-4 small-6 columns">
              <img src="/emagine/images/Interface/dolores.jpg"/>
               <div class="panel">
                <h5>DoloresO'Riordan</h5>
                <h6 class="subheader">Dolores O'Riordan is an Irish musician.... </h6>
              </div>
            </div>
            </div>
 
            <!-- <div class="large-4 small-6 columns">
              <img src="/emagine/images/Interface/kian.jpg"/>
 
              <div class="panel">
                <h5>Kian Egan</h5>
                <h6 class="subheader">Kian Egan formerly a member of Westlife...</h6>
              </div>
            </div>
 
            <div class="large-4 small-6 columns">
             <img src="/emagine/images/Interface/snowpatrol.jpg"/>
 
              <div class="panel">
                <h5>Snow Patrol</h5>
                <h6 class="subheader">Snow Patrol are a northern Irish alternative..</h6>
              </div>
            </div>
 
            <div class="large-4 small-6 columns">
              <img src="/emagine/images/Interface/walkingoncars.jpg"/>
 
              <div class="panel">
                <h5>Walking on Cars</h5>
                <h6 class="subheader">Former winners of the beat bedroom bash..</h6>
              </div>
            </div> -->
          </div>
 
    <!-- End Thumbnails -->
 
 <!-- Managed By -->
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">
 
                  <div class="large-2 small-6 columns">
                    <img src="http://placehold.it/300x300&text=Site Owner">
                  </div>
 
                  <div class="large-10 small-6 columns">
                    <strong>This Site Is Managed By<hr/></strong>
 
                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>
 
                </div>
              </div>
            </div>
 
    <!-- End Managed By -->
 
          </div>
        </div>
      
 
 
    <!-- Footer -->
 
      <footer class="row">
        <div class="large-12 columns"><hr />
          <div class="row">
 
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
 
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Home</a></li>
                <li><a href="#">Line Up</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
 
          </div>
        </div>
      </footer>
 
    <!-- End Footer -->
 
    </div>
  </div>
 </body>
</html>